<section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
            </div>
        </section><!--page-tree end here-->
        <div class="space-70"></div>
        <div class="container">
            <div class="checkout-top text-center">
                <p class="lead">Place your order!</p>

            </div><!--checkout top end-->
            <div class="space-70"></div>
            <div class="shop-checkout">
              <%= render partial: 'form', :locals => {@service => @service } %>
                <!--end form-->
            </div>
        </div>
        <br>
