
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi <%= @user.full_name %>,</h1>
    <p>
      You have successfully signed up to nitroPlus.us
    </p>
    <p>
      To confirm your email, just follow this link: <%= confirm_email_user_url(@user.confirm_token, host: "https://nitroplus.herokuapp.com")%>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
