
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><%=image_tag("logo-dark.png", class: "img-fluid")%></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="active dropdown nav-item">
                            <a href="/" class="dropdown-toggle nav-link" data-toggle="dropdown">Home</a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="prices/index" class="dropdown-toggle nav-link" data-toggle="dropdown">Buy now</a>
                        </li>
                        <li class=" dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="blog-full.html">Blog Full width</a></li>
                                <li><a class="dropdown-item" href="blog-sidebar.html">Blog Sidebar</a></li>
                                <li><a class="dropdown-item" href="blog-masonry.html">Blog Masonry</a></li>
                                <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <!--mega menu-->
                        <li class="dropdown dropdown-fw nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">More  <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h3 class="heading">Pages 1</h3>
                                                <ul class="mega-vertical-nav list-unstyled">
                                                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                                    <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
                                                    <li><a class="dropdown-item" href="services.html">Services</a></li>
                                                    <li><a class="dropdown-item" href="our-team.html">Our Team</a></li>
                                                    <li><a class="dropdown-item" href="login.html">Login</a></li>
                                                    <li><a class="dropdown-item" href="signup.html">Sign up</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-3">
                                                <h3 class="heading">Pages 2 </h3>
                                                <ul class="mega-vertical-nav list-unstyled">
                                                    <li><a class="dropdown-item" href="page-fullwidth.html">Full Width</a></li>
                                                    <li><a class="dropdown-item" href="page-leftbar.html">Left Sidebar</a></li>
                                                    <li><a class="dropdown-item" href="page-rightbar.html">Right Sidebar</a></li>
                                                    <li><a class="dropdown-item" href="faqs.html">Faqs</a></li>
                                                    <li><a class="dropdown-item" href="page-error.html">Error 404</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h3 class="heading">Features</h3>
                                                <ul class="mega-vertical-nav list-unstyled">
                                                    <li><a class="dropdown-item" href="typography.html">Typography</a></li>
                                                    <li><a class="dropdown-item" href="shortcodes.html">Shortcodes</a></li>
                                                    <li><a class="dropdown-item" href="pricing.html">Pricing Tables</a></li>
                                                    <li><a class="dropdown-item" href="footer-option.html">Footer option</a></li><li><a class="dropdown-item" href="gallery-lightbox.html">Lightbox-gallery</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h3 class="heading">Shop</h3>
                                                <ul class="mega-vertical-nav list-unstyled">
                                                    <li><a class="dropdown-item" href="shop-default.html">Shop 3 columns</a></li><li><a href="shop-sidebar.html" class="dropdown-item">Shop Sidebar</a></li>
                                                    <li><a class="dropdown-item" href="product-detail.html">Product Detail</a></li>
                                                    <li><a class="dropdown-item" href="shop-cart.html">Cart</a></li>
                                                    <li><a class="dropdown-item" href="shop-checkout.html">Checkout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--menu Features li end here-->

                        <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-facebook"></i></a></li>
                        <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-twitter"></i></a></li>
                        <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
