<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 hidden-md-down">
                <ul class="info list-inline pull-left hidden-sm-down">
                    <li class="list-inline-item"><a href="#" class="hover-color"><i class="ion-ios-email-outline"></i> mail@domain.com</a></li>
                    <li class="list-inline-item"><i class="ion-iphone"></i> +91 (123) 456 78 90</li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="text-right">
                    <ul class="info list-inline">
                        <li class="hidden-xs-down list-inline-item"><a href="signup.html" class="hover-color">Create an account?</a></li>
                        <li class="list-inline-item"><a href="login.html" class="hover-color list-inline-item"><i class="ion-android-lock"></i> Login</a></li>

                        <li class="dropdown list-inline-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle hover-color" aria-expanded="false"> Eng.</a>
                            <ul class="dropdown-menu dropdown-menu-right lang-dropdown">
                                <li><a href="#">ENGLISH</a></li>
                                <li><a href="#">FRANCE</a></li>
                                <li><a href="#">GERMANY</a></li>
                                <li><a href="#">JAPANESE</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item">
                            <div class="right-search">
                                <span class="icon-search">
                                    <i class="ion-ios-search-strong"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
  </div>
