<section id="content-region-3" class="padding-40 page-tree-bg">
            <div class="container">
                <h3 class="page-tree-text">
                    Create an account
                </h3>
            </div>
</section>

<%= render 'form', user: @user %>

</br>
</br>

<!-- <%= link_to 'Back', users_path %> -->
