
<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider">
        <ul class="slides">
            <li>
                <figure>
                    <%=image_tag("iptv-main.jpeg", class: "img-fluid", alt:"slider-img-1")%>
                    <figcaption class="slider-overlay ">
                        <div class="slider-text animated fadeInDown">
                            <h1>
                              The future of tv! </br> <strong> Start your free 15 days trial today </strong>
                            </h1>
                            <p>
                                Watch NitroPlus TV on any device, anywhere! Only $20 per Month and over 1000 channels!
                            </p>

                            <p class="slide-btn"><a href="services" class="btn btn-white btn-primary">Purchase Now</a></p>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>

<div class="space-50"></div>
<div class="container">
    <div class="row intro-row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>YOU CAN WATCH OUR IPTV SERVICE ON ALL SET-TOPS !</h2>
            <h3 class="subtitle">SUPPORT SET-TOP BOXES</h3>
        </div>
        <div class="space-70"></div>
        <div class=" col-md-4">
            <div class="services-box">
                <i class="ion-laptop"></i>
                <h3>infomir's MAG Set-top Boxes</h3>
                <p>
                    Support MAG250/ MAG254/ MAG255 IPTV Set-top boxes.
                </p>
            </div>
        </div><!--services box-->
        <div class=" col-md-4">
            <div class="services-box">
                <i class="ion-ios-color-wand-outline"></i>
                <h3>Android Set-top Boxes & Smartphones</h3>
                <p>
                    We recommend you to install Kodi Android App or IPTV STB Emulator App from Google Play to watch our IPTV service on Android Devices.
                </p>
            </div>
        </div><!--services box-->
        <div class="col-md-4">
            <div class="services-box">
                <i class="ion-social-twitter-outline"></i>
                <h3>Windows / Linux / MAC (Laptop / Desktop PC)</h3>
                <p>
                    You can USE VLC to watch aour IPTV service or install Kodi (XBMC) with IPTV Stalker Add-on on your PC / LAPTOP to watch our IPTV. Click Here to Download Kodi (XBMC).
                </p>
            </div>
        </div><!--services box-->
    </div>
  <div class="space-30"></div>
    <div class="text-center">
        <a class="modal-video theme-btn-color-outline btn-radius btn" href="https://www.youtube.com/watch?v=cctFcl5EFYk">Watch Video <i class="ion-play"></i></a>
  </div>
</div>

<div class="space-70"></div>
<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 features">
                <h3>Our services</h3>
                <p>
                    NitroPlus is the first iptv provider in the world with more than 2500 channels and Dedicated Server using +10Gbps. Internet Protocol television (IPTV) is a system through which television services are delivered using the Internet protocol suite over a Switched packet such as a LANor the Internet, instead of being delivered through traditional terrestrial, satellite signal, and cable television formats. Unlike downloaded media, BUY IPTV offers the ability to stream the media in smaller quantity, directly from the source. As a result, a client media player can begin playing the data (such as a movie) before the entire file has been transmitted. This is known as streaming media.
                </p>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-laptop"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">SOME OF OUR IMPORTANT FEATURES</h4>
                        <ul>
                          <li>You get more than +1000 channels instantly</li>
                          <li>High Quality service for low-cost price</li>
                          <li>Best IPTV experience using 720p and 1080p FULL HD</li>
                          <li>We can refund if you are not satisfied</li>
                          <li>High quality support 24/7</li>
                        </ul>
                    </div>
                </div><!--services list-->

            </div>
            <div class="col-md-5">
                <%=image_tag("iptv-works.jpeg", class: "img-fluid")%>
            </div>
        </div>

    </div><!--container-->
</section>
<div class="space-50"></div>
<div class="newsletter-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Get latest news from nitroPlus</h3>
                <p>
                    Subscribe to our newsletter
                </p>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <form method="post" action="#" class="form-subscribe">
                    <input type="text" name="email" placeholder="Email Id..." class="form-control">
                    <button type="submit" name="submit" class="btn theme-btn-color btn-block">Subscribe Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
</br>
