# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f7cb330e76d8e785fc28aff5f2066d98c00552c1d02f3f8ef78ab01e312c039551dbd28a710813bdb6d2e801eebb447afd891b1d6df52261ee1e525f3652df94
  paypal_host: https://www.sandbox.paypal.com
  app_host: http://our_ngrok_url
  stripe_publishable_key: pk_test_i24Qa5vgfEko5nlffNObu4TU
  stripe_secret_key: sk_test_x7wk7r4AkuT3pNcWTIhVkpf9
  paypal_client_id: AVKEJrgS5kXZnGC4e4fgPxRbq3ku0nuHHfnpP0YVlVfC7cPJyuQYQE_whNHWLy-rSt8UJzOIOfsYtscV
  paypal_secret_key: ENxhhbDeRaZK_ZGEB6g_PYW7pRJcYCJ8jVnyVLPURLoq-0VF1C50Y5ET9_z2GL4fB49Ef9hYdYAvr8XH

test:
  secret_key_base: 6ccaea76f8a42cf4d9e8c9d04858bcb2a40742644553056ab9d0b41a6cc31a323a0019334fb0ea93c661eaf49b1004966bacc623054fcb601128386d0ddd2f45

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  paypal_host: https://www.paypal.com
  app_host: https://launchschool.com/


  stripe_publishable_key: pk_test_i24Qa5vgfEko5nlffNObu4TU
  stripe_secret_key: sk_test_x7wk7r4AkuT3pNcWTIhVkpf9
  paypal_client_id: AVKEJrgS5kXZnGC4e4fgPxRbq3ku0nuHHfnpP0YVlVfC7cPJyuQYQE_whNHWLy-rSt8UJzOIOfsYtscV
  paypal_secret_key: ENxhhbDeRaZK_ZGEB6g_PYW7pRJcYCJ8jVnyVLPURLoq-0VF1C50Y5ET9_z2GL4fB49Ef9hYdYAvr8XH
