<div class="space-70"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12"><!--pricing 4 col row end-->
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">Pricing</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Free trial</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$0.00<small>-for 15 days</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> No contracts</li>
                                <li><i class="ion-checkmark-round"></i> No activation fees</li>
                                <li><i class="ion-checkmark-round"></i> No cancellation fees</li>
                                <li><i class="ion-checkmark-round"></i> No credit check </li>
                            </ul>
                        </div>
                        <div class="pricing-select">
                            <a href="#" class="btn theme-btn-default btn-lg">Choose plan </a>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-lg-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>Pay per month</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$19.99<small>-month</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> 30-day money back guarantee. </li>
                                <li><i class="ion-checkmark-round"></i> No contracts</li>
                                <li><i class="ion-checkmark-round"></i> No activation fees</li>
                                <li><i class="ion-checkmark-round"></i> No cancellation fees </li>
                                <li><i class="ion-checkmark-round"></i> No credit check </li>
                                <li><i class="ion-checkmark-round"></i> NitroPlus top box receiver is $89 plus $19.99 per month for streaming TV service</li>
                            </ul>
                        </div>
                        <div class="pricing-select">
                            <a href="#" class="btn theme-btn-default btn-lg">Choose plan </a>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->
                <div class="col-lg-4 margin-btm-20">
                    <div class="pricing-wrapper">
                        <div class="pricing-head">
                            <h3>6 months service</h3>
                        </div>
                        <div class="pricing-rate">
                            <h1>$90.00<small>-for 6 months</small></h1>
                        </div>
                        <div class="pricing-desc">
                            <ul class="list-unstyled">
                                <li><i class="ion-checkmark-round"></i> 25% discount from monthly service</li>
                                <li><i class="ion-checkmark-round"></i> No contracts</li>
                                <li><i class="ion-checkmark-round"></i> No activation fees</li>
                                <li><i class="ion-checkmark-round"></i> No cancellation fees </li>
                                <li><i class="ion-checkmark-round"></i> No credit check </li>
                                <li><i class="ion-checkmark-round"></i> NitroPlus top box receiver is $69 plus $90.00 for 6 months for streaming TV service</li>
                            </ul>
                        </div>
                        <div class="pricing-select">
                            <a href="#" class="btn theme-btn-color btn-lg">Choose plan </a>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--pricing col end-->

            </div><!--pricing 3 col row end-->
            <div class="space-40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading-mini">Frequently Asked Questions</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Q: Can I run every device in my house with 1 purchase?</h3>
                        <p>
                            A: Not at the same time. Each purchase can only be linked to 1 MAC address (AKA device). If you wish to run every device in your home, then you will need to purchase another credit for each of those devices. For example: I have 4 devices in my home (HTPC, 2 desktop PC's, G-Box Q), therefore I will only be able to use 1 device at a time for streaming purpose. to use them all I will need to purchase 4 credits.
                        </p>
                    </div><!--price faq box-->
                </div>
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Q: What is a MAC address? Is this the same as my IP address?</h3>
                        <p>
                          A: They are not the same. A MAC (or Machine Access Control) address is best thought of as kind of serial number assigned to every network adapter. No two anywhere should have the same MAC address. MAC addresses are typically used only to direct packets from one device to the next as data travels on a network.
                          <p> Bottom line: your MAC address doesn’t make it out very far. Even if someone knows your MAC address, that knowledge certainly doesn’t help them do anything either good or bad.</p>

                        </p>
                    </div><!--price faq box-->
                </div>
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>What TV box you recomend?</h3>
                        <p>
                          <p>We have tested numerous iptv receivers but at the moment we are recommending the following boxes</p>
                        <ul>
                          <li>MAG250</li>
                          <li>MAG254 (Recommended)</li>
                          <li>MAG260 (Works but is very unstable)</li>
                          <li>AVOV</li>
                        </ul>
                          <p>There are many STBs compatible with this new system but we highly recommend the <strong>MAG254</strong> to make sure that the user will have the best experience. This is the one we offer when you buy our package</p>
                        </p>
                    </div>
                    <!--price faq box-->
                </div>
            </div><!--price faq row 1 end-->
            <div class="row">
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Q: How do I find out what my MAC address is for other common device</h3>
                        <p>
                            A: Different Android manufacturers list the MAC address in different places, below are the most commons directions for locating the MAC address.
                            <p> Roku </p>
                          <ul>
                            <li>From the Roku home screen, select <strong>Settings</strong>.</li>
                            <li>From the <em>Settings </em>screen, select <strong>Player Info</strong>.</li>
                          </ul>
                            <p> Chromecast </p>
                          <ul>
                            <li>Your Chromecast’s MAC id is listed at the bottom of the setup app when going through initial setup step.</li>

                          </ul>
                            <p>(HTC One M8) </p>
                          <ol>
                            <li>Under your Applications list, select&nbsp;<strong>Settings</strong>.</li>
                            <li>Select&nbsp;<strong>&nbsp;Wi-Fi. </strong></li>
                            <li>Then select menu options (shown as three dots) in the upper-right-hand corner and select&nbsp;<strong>Advanced</strong>.</li>
                            <li>Scroll to the bottom and your device's MAC address will&nbsp;be visible here.</li>
                          </ol>
                        </p>
                    </div><!--price faq box-->
                </div>
                <div class="col-md-4 margin-btm-40">
                    <div class="price-faq-box">
                        <h3>Q: What are some of the devices i can use with nitroPlus services?</h3>
                        <p>
                            A: Here is a list of some compatible devices. However we have more options as well
                            <ul>
                              <li>Roku</li>
                              <li>Chromecast</li>
                              <li>MAG 250/254</li>
                              <li>Nvidia Shield Android TV</li>
                              <li>Amazon Fire TV</li>
                              <li>Apple TV.</li>
                            </ul>
                        </p>
                    </div><!--price faq box-->
                </div>
                <div class="col-md-4 margin-btm-40">
                  <div class="price-faq-box">
                      <h3>How do I find out what my MAC address from windows 10?</h3>
                      <p>
                          A: guide on how to get your MAC address from windows 10.
                          <ul>
                            <li>
                              <strong>Open </strong>the Windows Settings app and <strong>navigate</strong> <strong>to </strong>the <strong>Network &amp; Internet</strong> section.
                            </li>
                            <li>
                              <strong>Choose </strong>the <strong>connection type</strong> for the specific adapter of interest. Wi-Fi, Ethernet, and even old <a href="https://www.lifewire.com/definition-of-dial-up-817779" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="6">dial-up</a>&nbsp;interfaces each fall under separate menu items.
                            </li>
                            <li>
                              For Wi-Fi interfaces, <strong>click</strong> the <strong>Wi-Fi menu item.</strong>
                            </li>
                            <li>
                              <strong>Navigate </strong>to the bottom of the list of wireless network names.
                            </li>
                            <li>
                              <strong>Click Advanced options</strong>. Then navigate to the bottom Properties section of the screen where both IP and Physical (i.e., MAC) addresses are shown.&nbsp;
                            </li>
                            <li>
                              For Ethernet interfaces, <strong>click the Ethernet menu item</strong> and <strong>then the Connected icon</strong>. The Properties section of the screen then displays its IP and Physical addresses.
                            </li>
                          </ul>
                      </p>
                  </div>
                    <!--price faq box-->
                </div>
            </div>
        </div>
